/* Global Rules */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

.container {
  background-color: #eee;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

.header {
  padding: 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  width: 70px;
}

.header .links {
  position: relative;
}

.header .links:hover .icon-list span:nth-child(2) {
  width: 100%;
}

.header .links .icon-list {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header .links .icon-list span {
  background-color: #333;
  margin-bottom: 5px;
  height: 3px;
}

.header .links .icon-list span:first-child {
  width: 100%;
}

.header .links .icon-list span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}

.header .links .icon-list span:last-child {
  width: 100%;
}
