/* Variables */

:root {
  --main-color: #10cab7;
}

/* Global Rules */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

/* Header */

.header {
  padding: 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  width: 70px;
}

.header .links {
  position: relative;
  z-index: 1;
}

.header .links:hover .icon-list span:nth-child(2) {
  width: 100%;
}

.header .links .icon-list {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header .links .icon-list span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}

.header .links .icon-list span:first-child {
  width: 100%;
}

.header .links .icon-list span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}

.header .links .icon-list span:last-child {
  width: 100%;
}

.header .links:hover {
  cursor: pointer;
}

.header .links:hover ul {
  display: block;
}

.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: calc(100% + 15px);
  min-width: 200px;
  background-color: #f6f6f6;
  display: none;
}

.header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}

.header .links ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}

.header .links ul a:hover {
  padding-left: 25px;
}

.header .links ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

/* Landing */

.landing {
  background-image: url("../images/landing.jpg");
  background-size: cover;
  height: calc(100vh - 68px);
  position: relative;
}

.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.landing .intro-text h1 {
  margin: 0;
  color: var(--main-color);
  font-weight: bold;
  font-size: 50px;
}

.landing .intro-text p {
  font-size: 18px;
  line-height: 1.8;
}
